// Таблицы стилей Sass
// Адрес цветовой схемы: https://colorscheme.ru/#4b62Px4mt1jfr
$color-primary-0: #240e7c;	// Основной Цвет
$color-primary-1: #240f7a;
$color-primary-2: #230e7a;
$color-primary-3: #3a239b;
$color-primary-4: #45309b;

$color-secondary-a-0: #ae000d;	// Вторичный Цвет A
$color-secondary-a-1: #ad020e;
$color-secondary-a-2: #ac000d;
$color-secondary-a-3: #c21724;
$color-secondary-a-4: #c22a35;

$color-secondary-b-0: #149400;	// Вторичный Цвет B
$color-secondary-b-1: #159301;
$color-secondary-b-2: #149200;
$color-secondary-b-3: #2aae15;
$color-secondary-b-4: #38ae26;

$color-complement-0: #b39100;	// Дополнительный Цвет
$color-complement-1: #b19002;
$color-complement-2: #b08f00;
$color-complement-3: #c5a518;
$color-complement-4: #c5a82b;
