{{ define "main" }}
{{ if .Data.Term }}
<h1>{{ .Title }}</h1>
{{ range .Pages.ByDate.Reverse }}
<div class="post-card">
<div class="post-date">{{ .Date.Format "02.01.2006" }}</div>
<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
</div>
{{ end }}
{{ else }}
<h1>Заметки по ключевым словам</h1>
{{ range .Site.Taxonomies.tags.ByCount }}
<div class="post-card">
<h3 id="{{ .Page.Title }}">{{ .Page.Title }}</h3>
{{ range .Pages }}
<p class="post-description"><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Date.Format "02.01.2006" }})</p>
{{ end }}
</div>
{{ end }}
{{ end }}
{{ end }}
