<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% if layout.title %}{{ " :: " | append: layout.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#2A5A97">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/styles.css">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,cyrillic&amp;display=swap' rel='stylesheet' type='text/css'>
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">
</head>
<body>
<header class="top-nav">
    <div><a href="/">Сайт FSA</a></div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
    <li><a href="/tags">Теги</a></li>
    <li><a href="/shcc/">SHCC</a></li>
    <li><a href="/games">Игры</a></li>
    <li><a href="/archive">Архив</a></li>
    <li><a href="/support">Поддержать</a></li>
    <li><a href="https://github.com/fsa/">Github</a></li>
    </ul>
</header>
<main>
{{ content }}
</main>
<footer>
<p><a href="https://tavda.net/">Сергей Федотов (FSA)</a>, 2000-2025. E-mail: fsa@tavda.info. <a href="/gpg/fsa-public-key-ed25519.asc">GPG</a></p>
</footer>
</body>
</html>
