<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#2A5A97">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<link rel="stylesheet" href="/styles.css">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
<nav class="listrow">
    <a href="/" class="listitem">Сайт FSA</a>
    <a href="/posts" class="listitem">Заметки</a>
    <a href="/archive" class="listitem">Архив</a>
    <a href="https://github.com/fsa/" class="listitem">Github</a>
</nav>
</header>
<main>
{{ content }}
</main>
<footer>
<p><a href="https://tavda.net/">Сергей Федотов (FSA)</a>, 2000-2022. E-mail: fsa@tavda.info. <a href="/gpg/fsa-public-key-ed25519.asc">GPG</a></p>
</footer>
</body>
</html>
