---
layout: default
---
<div class="post-date">{{ page.date | date: "%d.%m.%Y" }}</div>
<h1>{{ page.title }}</h1>
{{ content }}
<hr>
<p>Если данная заметка оказалась вам полезной, можете поблагодарить автора финансово <a href="https://boosty.to/tavdainfo">на сервисе Boosty</a> или любой суммой через <a href="https://qiwi.com/n/TAVDA">сервис QIWI</a>.</p>
<hr>
<!-- Yandex.RTB -->
<script>window.yaContextCb = window.yaContextCb || []</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<!-- Yandex.RTB R-A-619556-1 -->
<div id="yandex_rtb_R-A-619556-1"></div>
<script>window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-619556-1',
            blockId: 'R-A-619556-1'
        })
    })
</script>